<div class="header">Planet Name{{planetData?.name}}</div>

<div class="planetDetails">
  <div class="left">
    <div>Diameter: {{planetData?.diameter}}</div>
    <div>Gravity: {{planetData?.gravity}}</div>
    <div>Climate: {{planetData?.climate}}</div>
  </div>
  <div class="right">
    <div>Orbital period: {{planetData?.orbital_period}}</div>
    <div>Surface Water: {{planetData?.surface_water}}</div>
    <div>Terrain: {{planetData?.terrain}}</div>
  </div>
</div>


<div class="main">
  <div class="main-header">
    Films
  </div>
  <div class="card-list">
      <h6 *ngIf="filmList?.length==0">Data not available.</h6>
    <div class="card" *ngFor="let item of filmList">
      <div class="name">Film name : {{item?.title}}</div>
      <div>Director: {{item.director}}</div>
      <div>Producer: {{item.producer}}</div>
      <div>Characters: {{item.characters.length}}</div>
      <div>Species: {{item.species.length}}</div>
      <div>Release date: {{item.release_date}}</div>
      <div class="viewMore" (click)="viewFilmDetails(item?.url)">View more</div>
    </div>
  </div>
</div>



<div class="main">
  <div class="main-header">
    Residence
  </div>
  <div class="card-list">
      <h6 *ngIf="residenceList?.length==0">Data not available.</h6>
    <div class="card" *ngFor="let item of residenceList">
      <div class="name">Name: {{item.name}}</div>
      <div>Height: {{item.height}}</div>
      <div>Hair color: {{item.hair_color}}</div>
      <div>Eye color: {{item.eye_color}}</div>
      <div>Skin color: {{item.skin_color}}</div>
      <div>Films: {{item.films.length}}</div>
      <div>Species: {{item.species.length}}</div>
      <div class="viewMore" (click)="viewRDetails(item?.url)">View more</div>
    </div>
  </div>
</div>






