header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  height: 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
}

.logo {
  line-height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;

  div {
    margin-left: 10px;
  }
}

.logo img {
  width: 50px;
  height: 50px;
}

.website-name {
  font-size: 1.5rem;
}
